header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

  .navbar-brand{
    font-weight: 600;
  }
}


.image-wrapper {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  background-color: #eee;
  overflow: hidden;
  margin: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}


.card {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  padding: 0px;
  overflow: hidden;
}

table {
  border: none;
  border-width: 0;
  thead{
    background-color: #52915e;
    position: sticky;
    top: 0;
    color:#fff;
    border: none;
    tr,th {
      background-color: transparent;
      border: none;
      color:#fff;
      font-weight: 500;

      border-bottom: 5px solid #fafafa;
      white-space: nowrap;
    }

    th

    {
      text-transform: capitalize;
      border-bottom: 1.1px solid #c2efc8;
      border-right: 1.1px solid #c2efc8;
      font-size: 14px;
      &:first-child{
        border-radius: 4px 0 0 0;
      }
      &:last-child{
        border-radius: 0 4px 0 0;
        border-right: 0px solid #ffffff;
      }
    }
  }

  tbody {
    tr,td {
      vertical-align: middle;
      background-color: rgb(245 252 246);
      padding: 3px 10px;
      font-size: 14px;
      border: none;
      border-bottom: 1.1px solid #c2efc8;
      border-right: 1.1px solid #c2efc8;
      white-space: nowrap;
    }
    tr {
      transition: 0.3s all ease-in-out;
      transform: translateY(0px);
      &:hover {
        transform: translateY(-2px);
        transition: 0.3s all ease-in-out;
        td {
          background-color: #eee;
        }
        background-color: #eee;
      }
    }

  }

  .img-col {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
  }
}

.acton{
  max-width: 115px;
  width: 115px;
}

.action-btn {
  cursor: pointer !important;
  transition: transform 0.2s, color 0.2s !important;
  padding: 3px 8px;
  background-color: #fbfbfb;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid #bcc3c3;
  border-radius: 5px;
  font-size: 14px;

  &:hover {
      transform: scale(1.02) !important;
      background-color: #d6d6d6;
      outline: none;
      box-shadow: none;
  }

  &:focus{
    outline: none;
    box-shadow: none;
  }

}

.delete {
  &:hover {
      color: #d93b3b;
  }
}

.edit {
  &:hover {
      color: #52915e;
  }
}
.empty{
  height: 100px;
  text-align: center;
  color: #d93b3b;
}

.modal-dialog {


 @media screen and (min-width:992.99px) {
  max-width: 962px;
  margin-right: auto;
  margin-left: auto;
 }
 .modal-header{
  padding: 2px 0px 2px 15px;
}

 .modal-title {
  font-size: 16px;
 }
}

.close_btn{
  width: 20px;
  height: 20px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-right: 6px;
  color: rgb(214, 60, 60);
  position: absolute;
  right: 0;
  z-index: 4;
  top: 5px;
  &:hover{
    background-color: #e0403a;
    color: #fff;
  }
}

.registration-btn {
  background: linear-gradient(45deg, #52915e, #8ee59a);
  border-radius: 10px;
  font-size: 14px;
  padding: 6px 22px;
  font-weight: 500;
  border: none;
  color: #f5f5f5;
  cursor: pointer;
  transition: background 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  i {
    font-size: 14px;
  }

  &:hover {
    background: linear-gradient(45deg, #8ee59a, #52915e);
    transform: translateY(-1px) scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fff;
  }

  &:active {
    transform: translateY(0) scale(0.98);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #fff;
  }
  &:focus {
    color: #fff;
  }
}
.form-title{

  font-size: 18px;
  color: #52915e;
}
